.subtitle-project{
  color:#8E8E8E;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: .73rem;
  text-align: center;
}

.box-workDetails{
  padding: 4rem 1rem;
}


.box-project-detail{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 2rem auto;
}

.project-detail-item{
  border: 1px solid #fff;
  border-radius: 50px;
  color: #fff;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 1rem;
  padding: .3rem 1rem;
}

.box-img-details{
  margin: 4rem auto;
}

.text-challenge{
  color: #fff;
  font-family: "nehue-has45";
  font-size: 1.1rem;
  text-align: center;
  margin-top: 4rem;
}
.description-challenge{
  color: #8E8E8E;
  font-family: "nehue-has55";
  font-size: 1.51rem;
  text-align: center;
  line-height: 2.3rem;
  margin-bottom: 4rem;
}

.gif-80{
  width: 80%;
  margin: 1rem auto;
  display: block;
}
.gif-70{
  width: 70%;
  margin: 2rem auto;
  display: block;
}
.gif-90{
  width: 90%;
  margin: 1rem auto;
  display: block;
}

.text-right{
  text-align: right;
}

.text-left{
  text-align: left!important;
}

.text-gray-poject{
  color: #8E8E8E;
  font-size: 1.5rem;
  font-family: "nehue-has55";
  line-height: 2.5rem;
  margin: 4rem auto;
  text-align: center;
}

.letter-next{
  width: 90%;
  display: block;
  margin: 0 auto;
  position: relative;
  padding: 5rem 0;
}

.nextButton{
  position: relative;
  display: flex;
  flex-direction: column;
}

.img-next-project{
  width: 50%;
  position: relative;
  top: -6rem;
  margin: 0 auto;
  display: block;
}

.btn-title-next{
  color: #fff;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  text-transform: uppercase;
  font-family: "nehue-has55";
  border-bottom: 1px solid #fff;
  font-size: 1.5rem;
}

@media (min-width: 1200px) {
  .box-workDetails{
    text-align: center;
  }
  .box-project-detail{
    justify-content: center;
  }
  .project-detail-item{
    margin: auto 0.5rem;
  }
  .container-parrafo{
    width: 40% !important;
    text-align: start !important;
    margin-left: 1rem !important;
  }
}