.container-form{
   text-align: center;
}

.container-form .container-two{
   /*display: flex;
   justify-content: center; */
}

.inputContainer input{
   min-width: 40%;
   font-size: 22px;
   background-color: transparent;
   color: #ffffff;
   border: none;
   border-bottom: 1px solid #ffffff;
   padding: 15px 0px;
}

.inputContainer input:focus-visible{
   outline: none;
}

.checkContainer{
   display: flex;
   color: #ffffff;
   padding: 47px 0px 0px;
   font-size: 70%;
   place-content: center;
   margin-left: -6%;
}

.checkContainer input{
   transform: scale(3.5);
}

.checkContainer .privacy-text{
   margin-left: 20px;
}

.selectContainer select{
   min-width: 40%;
   font-size: 22px;
   background-color: transparent;
   color: #ffffff;
   border: none;
   border-bottom: 1px solid #ffffff;
   padding: 15px 0px;
}

.button__send {
   text-align: center;
   background-color: #000000;
   padding-top: 4rem;
   padding-bottom: 4rem;
 }
 
 .button__send button {
   font-size: 25px;
   padding: 6px 20px;
   border-radius: 50px;
   border: 1px solid #ffffff;
   margin: auto 5px;
   background-color: #ffffff;
   color: #000000;
   cursor: pointer;
 }
 
 .button__send img {
   margin-bottom: 4px;
   margin-left: 10px;
   padding: auto;
 }