.container-form{
   text-align: center;
}

.container-form .container-two{
   display: flex;
   min-width: 60%;
}

.inputContainer{
   font-size: 32px;
   min-width: 60%;
   background-color: transparent;
   color: #ffffff;
   border: none;
   border-bottom: 1px solid #ffffff;
   padding: 15px 0px;
}

.selectContainer select{
   font-size: 32px;
   min-width: 60%;
   background-color: transparent;
   color: #ffffff;
   border: none;
   border-bottom: 1px solid #ffffff;
   padding: 15px 0px;
}

.button__send {
   text-align: center;
   background-color: #000000;
   padding-top: 4rem;
   padding-bottom: 4rem;
 }
 
 .button__send button {
   font-size: 33px;
   padding: 6px 20px;
   border-radius: 50px;
   border: 1px solid #ffffff;
   margin: auto 5px;
   background-color: #ffffff;
   color: #000000;
   cursor: pointer;
 }
 
 .button__send img {
   margin-bottom: 4px;
   margin-left: 10px;
   padding: auto;
 }