.container-form {
  text-align: center;
}

.inputContainer input:focus-visible {
  outline: none;
}

.container-form .container-two {
  /*display: flex;
   justify-content: center; */
}
.box-form-contact {
  padding: 1rem 1rem;
}
.text-contact {
  color: #ffffff;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-size: 1.6rem;
  padding: 2rem 0rem;
}
.inputContainer {
  position: relative;
  margin-bottom: 30px
 }



.inputContainer input {

  font-family: neue-haas-grotesk-display, sans-serif;
  display: block;
  width: 100%;
  height: 40px;
  background: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  transition: all .3s ease;
  /* padding: 0 15px */
}
.inputContainer input:focus{
  color: #fff;
  border-bottom: 1px solid #575757;
}

.inputContainer label {
  font-family: neue-haas-grotesk-display, sans-serif;
  position: absolute;
  cursor: text;
  z-index: 2;
  top: 13px;
  left: 0px;
  font-size: 20px;
  color: #fff;
  transition: all .3s ease
}


.inputContainer input:focus + label {
  font-size: 11px;
  top: -5px
}


.inputContainer input:focus + label{
  color: #575757
}




.checkContainer {
  display: flex;
  color: #ffffff;
  padding: 5rem 0px 0px;
  font-size: 12px;
  place-content: center;
  width: 100%;
  margin: 0 auto;
}

/* .checkContainer input {
  transform: scale(2);
 
} */

.checkContainer .checkboxLabel {
  display: flex;
  align-items: center;
  color: #ffffff;
  padding: 5rem 0px 0px;
  font-size: 12px;
  cursor: pointer;
}

.checkContainer input[type="checkbox"] {
  display: none;
}

.checkContainer .checkboxCustom {
  width: 30px;
  height: 30px;
  border: 1px solid #ffffff;
  border-radius: 3px;
  display: inline-block;
  margin-right: 10px;
  position: relative;
}

.checkContainer input[type="checkbox"]:checked + .checkboxCustom::before {
  content: "\2713";
  font-size: 20px;
  color: #ffffff;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.selectContainer select {
  width: 100%;
  font-size: 20px;
  background-color: transparent;
  color: #ffffff;
  border: none;
  border-bottom: 1px solid #ffffff;
  /* padding: 30px 0px; */
  font-family: neue-haas-grotesk-display, sans-serif;
  margin: 1.5rem 0;
}

.button__send {
  text-align: center;
  background-color: #111;
  padding-top: 4rem;
  padding-bottom: 4rem;
}

.button__send button {
  font-size: 25px;
  padding: 6px 20px;
  border-radius: 50px;
  border: 1px solid #ffffff;
  margin: auto 5px;
  background-color: #ffffff;
  color: #111;
  cursor: pointer;
}

.button__send img {
  margin-bottom: 4px;
  margin-left: 10px;
  padding: auto;
}

