.container__mosaico {
  padding: 3rem 0;
  margin: 0 auto;
  text-align: center;
}

.vimeo-full-width {
  padding: 68.25% 0 0 0;
  position: relative;
}

.box-video {
  padding: 45.25% 0 0 0;
}

.vimeo-full-width iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.img-2 {
  margin-top: -6rem;
  margin-bottom: 2rem;
}
.img-3 {
  margin-top: 2.5rem;
}
.img-4 {
  margin-top: -12rem;
}
.box-video iframe {
  margin: 0 auto;
  width: 80%;
  height: 80%;
  left: 50%;
  transform: translateX(-50%);
  margin-top: -3rem;
}

.next {
  top: 4rem;
  position: relative;
  width: 100%;
}
.video-umana1 iframe {
  width: 70%;
}

.container-main {
  background-color: #ffff;
}

.container__gif1 {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.container__gif1 div {
  width: 40%;
  padding: 0.5rem;
}
.container__gif1 img {
  width: 100%;
  float: center;
}

.container__gif2 {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  align-items: flex-end;
}
.container__gif2 div {
  width: 40%;
  text-align: left;
  padding: 0.5rem;
}

.gif2 {
  width: 100%;
}

.img-gif2 {
  width: 100%;
}
.container__gif2 h2 {
  width: 90%;
  float: top;
  font-size: 1.5rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
}
.container__gif4-5 h2 {

  font-size: 1.5rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
}

.container__gif3 {
  width: 100%;
}
.container__gif3 img {
  width: 100%;
}

.container__gif4-5 {
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
}

.container__gif4-5 div {
  width: 40%;
  text-align: left;
  padding: 0.5rem;
}
.container__gif4-5 div img {
  width: 100%;
}

.container__img-4-5{
  display: flex;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  align-items: flex-end;
}
.container__img-4-5 div{
  padding: .5rem;
  width: 40%;
}

.container__img-4-5 img{
  width: 100%;
}

.container__img3{
  padding: .5rem;
  width: 80%;
  margin: 0 auto;
}

.container__p-hnk{
  width: 64%;
  margin: 6rem auto;
  font-size: 1.5rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  text-align: justify;
}

.container__gift-next {
padding-top: 15rem;
width: 100%;
}
.nextBack{
  width: 80%;
  display: block;
  margin: 0 auto;
}
.container__gift-next .img-next{
  width: 60%;
  top: -7rem;
  position: relative;
}

@media (max-width : 680px){
  .container__gif1{
    flex-direction: column;
    width: 100%;
    align-items:center
  }
  .container__gif1 div{
    width: 90%;
    margin: 0 auto;
  }
  .container__gif2 h2{
    font-size: 1.2rem;
    width: 100%;
  }
  .container__gif2{
    flex-direction: column;
    width: 100%;
    align-items:center
  }
  .container__gif2 div{
    width: 90%;
    margin: 0 auto;
  }
  .container__gif4-5{
    flex-direction: column;
    width: 100%;
    align-items:center
  }
  .container__gif4-5 div{
    width: 90%;
    margin: 0 auto;
  }
  .container__gif4-5 h2{
    font-size: 1.2rem;
    width: 100%;
  }
  .container__p-hnk {
    width: 90%;
  }
  .container__p-hnk p {
    font-size: 1.2rem;
  }
  .container__gift-next{
    padding-top: 7rem;
  }
  .container__gift-next .img-next{
    top: -2rem;
  }
}