.box-carousel-services{
    width: 80%;
    height: 500px;
    margin: 0px auto;
}

@media (max-width: 680px) {
    .box-carousel-services-work{
        height: 100%;
    }

    .css-1fzpoyk{
        width: 100%;
    }
   .text-slider-work{
     font-family: "nehue-has45";
     font-size: .9rem;
     text-transform: uppercase;
     text-align: left;
   }

   .box-carousel-services-work .carousel .slider{
    width: 85%;
   }
}