.box-carousel-services{
    width: 80%;
    height: 500px;
    margin: 0px auto;
}

@media (max-width: 680px) {
    .box-carousel-services-work{
        height: 100%;
    }

    .css-1fzpoyk{
        width: 100%;
    }
    .carousel .slider-wrapper.axis-horizontal .slider .slide h1{
        display: none;
    }
}