.title-services{
    padding: 3rem 0rem;
}

.box-services{
    padding: 4rem 1rem;

}

.text-gray{
    color: #575757;
    font-family: "nehue-has55";
    font-size: 1.5rem;
    line-height: 2rem;
}

.text-lets-talk{
    padding: 3rem 0;
}