/* a {
    text-decoration: none;
    margin: 2rem 0rem 2rem 10rem;
} */

:global(.list-group-flush > .list-group-item) {
  padding: 1.5rem;
}

.drop-menu {
  padding: 0rem 0;
  position: fixed;
  z-index: 999998;
  width: 100%;
  height: 100%;
  left: 0;
  background: #9340f3;
  transition: 0.3s ease-in-out;
  opacity: 1;
  overflow-y: scroll;
  top: 0;
}

.drop-menu-off {
  opacity: 0;
  left: -100%;
}
.container-fullview {
  height: 100vh;
}
.container-close {
  padding: 2rem 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.container-logo {
  text-align: center;
  margin: 3rem auto;
}

.container-logo img {
  width: 20%;
}

.container-title {
  margin-top: 2rem;
}
.container-image-icon {
  display: flex;
  align-items: center;
}
/* .container-image-icon img {
  margin: 14px -20px 0px 0px;
} */

.text-navbar {
  margin: auto 0;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
  font-size: 46px;
  color: #111;
  text-align: center;
  font-weight: normal;
  text-transform: uppercase;
  height: 75px;
}

.contenedor-items {
  top: 45%;
  position: relative;
  left: 50%;
  transform: translate(-50%, -58%);
}

.container-options ul,
li {
  /* list-style-type: none; */
  list-style-type: none;
  list-style-position: inside;
  margin: 0;
  padding: 0;
}

.container-social {
  text-align: center;
  height: 16rem;
}
.container-social ul {
  margin: 0;
  padding: 0;
  font-family: "nehue-has45";
  font-weight: 500;
}

.container-social ul li {
  font-size: 40px;
  height: 0px;
}

.container-contact-dropdown {
  text-align: center;
  padding-bottom: 2rem;
}

.container-contact-dropdown ul {
  margin: 0;
  padding: 0;
  font-family: "nehue-has45";
  font-weight: 500;
}

.img-menumobile {
  width: 48%;
  margin: 0 auto;
}

.container-social ul li {
  font-size: 40px;
  height: 0px;
}
.title-socials {
  font-family: "nehue-has45";
  font-size: 16px;
  top: 1.2rem;
  position: relative;
}
.item-social h6 {
  font-family: "nehue-has45";
  font-size: 20px;
  color: #111;
}

.text-navbar:hover {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1.5px;
}
.text-navbar:active {
  color: #fff;
  text-decoration: underline;
  text-underline-offset: 6px;
  text-decoration-thickness: 1.5px;
}

.text-navbar .item-social a {
  color: #fff;
}

.list-group-item a {
  text-decoration: none;
  color: #111;
}

@media (min-width: 480px) {
  .drop-menu {
    width: 100%;
  }
}
@media (min-width: 768px) {
  .drop-menu {
    width: 100%;
  }
}
@media (min-width: 993px) {
  .drop-menu {
    display: block;
    width: 100%;
    /* visibility: hidden; */
  }
  .drop-desktop {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0rem 10rem;
  }

  .img-menumobile {
    width: 25%;
  }
  .drop-desktop .container-fullview {
    width: 50%;
    /* padding: 0rem 10rem; */
  }
  .box-social-contact {
    width: 50%;
  }
  .text-navbar {
    text-align: left;
    font-size: 4.3rem;
    margin: 1rem 0;
  }
  .container-social {
    text-align: left;
  }
  .container-contact-dropdown {
    text-align: left;
  }
  .container-close{
    padding: 2rem 0;
  }
}
