.container__footer{
    display: flex;
    justify-content: space-around;
    padding: 6rem 0;
    border-top: 1px solid black;

    background-color: #ffff;
}

.container__footer-boxItem{
    display: flex;
    justify-content: start ;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.container__footer-item{
   padding: .7rem 0;
   text-transform: uppercase;
   font-size: 1rem;
}
.box-credits{
    border-top: 1px solid black;
    background-color: #ffff;
    padding: 1rem 0;
    display: flex;
    justify-content: center;
}
.box-credits img{
    margin-right: 1rem;
}

@media (max-width : 680px){
    .container__footer{
        display: block;
        padding: 2rem 0rem;
    }
    .container__footer .container__footer-boxItem{
        padding: 1rem 0rem;
    }
    .box-credits{
        display: grid;
        place-items: center;
        padding: 0.5rem 0;
    }
    .box-credits img{
        margin-bottom: 0.2rem;
    }
}