.back-to-top {
    position: fixed;
    bottom: 2%;
    right: 2%;
    background: transparent;
    /* color: white; */
    cursor: pointer;
    /* border-radius: 20%; */
    border: none;
    z-index: 999;
    /* border: 1px solid #ffffff; */
    /* box-shadow: 0 5px 10px #ccc; */
}



.back-to-top img{
  width: 3rem;
  height: 3rem;
}