@font-face {
  font-family: "nehue-has45";
  src: url(./assets/fonts/NHaasGroteskDSPro-45Lt.otf);
}
@font-face {
  font-family: "nehue-has55";
  src: url(./assets/fonts/NHaasGroteskDSPro-55Rg.otf);
}
@font-face {
  font-family: "nehue-has65";
  src: url(./assets/fonts/NHaasGroteskDSPro-65Md.otf);
}
@font-face {
  font-family: "nehue-has66";
  src: url(./assets/fonts/NHaasGroteskDSPro-66MdIt.otf);
}
@font-face {
  font-family: "nehue-bold";
  src: url(./assets/fonts/NeueHaasDisplayBold.ttf);
}
@font-face {
  font-family: "nehue-bold-italic";
  src: url(./assets/fonts/NeueHaasDisplayBoldItalic.ttf);
}
@font-face {
  font-family: "nehue-roman";
  src: url(./assets/fonts/NeueHaasDisplayRoman.ttf);
}
@font-face {
  font-family: "nehue-roman-italic";
  src: url(./assets/fonts/NeueHaasDisplayRomanItalic.ttf);
}

.container__hb {
  width: 100%;
}
.Container__title {
  width: 990px;
  margin: 0 auto;
  padding: 3rem 0;
  text-align: center;
}
.Container__title h2 {
  font-size: 3.3rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 900;
  font-style: normal;
}

.Container__title p {
  font-size: 1.68rem;
  line-height: 2.5rem;
  font-family: neue-haas-grotesk-display, sans-serif;
  font-weight: 500;
  font-style: normal;
}

/* parallax */
.box-video-background {
  height: 100vh;
  width: 100vw;
}
.video-mp4 {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  min-width: 100%;
  position: fixed;
  top: 0;
  z-index: -999;
}

/* 
  .box-test .container__parallax{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    min-width: 100%;
    position: fixed;

    background-color: aqua;
  } */
.box-test {
  background-color: #fff;
}
.container__parallax {
  position: relative;
}

.word {
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
  font-size: 28rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "nehue-has45";
}
