.box-work{
    padding: 0 1rem;
}

.box-work-w{
    padding: 4rem 1rem;

}

.fw-title{
    display: block;
    margin: 0rem auto;
    padding: 3rem 0;
    width: 85%;
}

.text-feature-work{
    font-family: neue-haas-grotesk-display, sans-serif;
    color: #8E8E8E;
    font-size: 1.5rem;
    text-align: center;
    padding: 0 1rem;
}

.filter-title{
    color: #fff;
    font-family: "nehue-has45";
    font-size: 28px;
    margin: 1rem 0;
}
.filter-subtitle{
    color: #8E8E8E;
    font-family: "nehue-has55";
    font-size: 13px;
}

.gallery__container-work{
    display: flex;
    flex-direction: column;
    margin: 3rem auto;
}
.gallery__items {
    /* margin-top: 1rem; */
    margin: 0 auto;
    margin-bottom: 1rem;
    /* margin-right: 1rem; */
}

/* .small-image {
    width: calc(50% - 10px);
}

.large-image {
    flex: 0 0 85%;
    width: 100%;
} */


.p-white{
    color: #fff;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-size: 1.4rem;
    margin: 2rem auto;
    width: 90%;
    line-height: 2.2rem;

}

.button__load-work{
    text-align: center;
    position: relative;
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.button__load-work button{
    font-size: 26px;
    padding: 6px 20px;
    border-radius: 50px;
    border: 1px solid #111;
    margin: auto 5px;
    background-color: #fff;
    color: #111;
    cursor: pointer;
    font-family: neue-haas-grotesk-display, sans-serif;
    font-weight: 500;
    text-transform: uppercase;
}

.button__load-work img{
    width: 11%;
    margin-left: 5px;
}

.box-slider-component-work{
    margin: 5rem auto;
}

/* @media (max-width: 400px) {
    .gallery__items {
        flex-basis: fit-content;
    }
    .text-feature-work{
        font-size: 1.75rem !important;
    }
} */

@media ( min-width: 768px) {
    .text-feature-work{
    font-size: 2.8rem;
    padding: 0 10rem;
    padding-bottom: 4rem;
    }

    .box-work{
        padding: 0 10rem;
    }
    .gallery__container-work {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 15px;
    }
    .gallery__items {
        box-sizing: border-box;
    }
    .gallery__img {
        width: 100%;
        height: auto;
    }
    .gallery__container-img {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 15px;
        margin: 0rem 15rem;
    }
    .single-image {
        width: 100%;
        height: auto;
    }
    .gallery__item {
        text-align: center;
    }
    .filter-title-item {
        font-family: "nehue-has45";
        font-size: 28px;
        margin: 1rem 0;
        text-align: start;
        color: #111;
    }
}